@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: "Dosis", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header,
footer {
  padding: 20px;
  background-color: #6c926f;
  position: fixed;
  z-index: 9999;
  width: 100%;
}

header h1,
nav ul {
  margin: 0;
}

header {
  display: flex;
}

main {
  text-align: center;
  padding-top: 125px;
  color: #333;
  margin-bottom: 180px;
}

footer {
  bottom: 0;
  text-align: center;
}

.animalsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 2rem;
}

.card {
  background-color: snow;
  box-shadow: 0 0 5px rgb(121, 121, 121);
  width: 250px;
  border-radius: 5px;
  display: inline-block;
  margin: 1rem;
  text-transform: capitalize;
  filter: grayscale(100%);
  transition: all 0.5s;
  padding-bottom: 15px;
}

.card:hover {
  box-shadow: 0 0 20px rgb(121, 121, 121);
  filter: grayscale(0%);
  cursor: pointer;
}

.card h2 {
  margin: 15px 0 15px 0;
}

.card a {
  text-decoration: none;
  color: #333;
}

.card a:hover {
  text-decoration: underline;
  color: #6c926f;
  font-weight: bold;
}

.card img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

nav ul li {
  display: inline-block;
  margin: 1rem;
}

header h1 {
  color: rgb(8, 46, 24);
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
  color: rgb(8, 46, 24);
}

button {
  padding: 1rem 2rem;
  border: none;
  box-shadow: 0 0 5px #333;
  background-color: darkcyan;
  margin: 2rem;
}

.single-page h1 {
  color: #333;
}
.single-page img {
  width: 400px;
  margin-bottom: 30px;
}

.heading {
  margin-top: 150px;
}

input[type="text"] {
  width: 225px;
  height: 25px;
}

.search .svg-inline--fa {
  height: 25px;
}

.search .svg-inline--fa.fa-w-16 {
  width: 3em;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.heading .svg-inline--fa.fa-w-20 {
  width: 65px;
  height: 65px;
  color: #333;
  padding-right: 15px;
}
.heading .svg-inline--fa.fa-w-20:hover,
.heading .svg-inline--fa.fa-w-16:hover,
.heading .svg-inline--fa.fa-w-18:hover {
  color: #6c926f;
}

.heading .svg-inline--fa.fa-w-16 {
  height: 55px;
  width: 55px;
  color: #333;
  padding-right: 15px;
}

.heading .svg-inline--fa.fa-w-18 {
  width: 65px;
  height: 65px;
  color: #333;
  padding-right: 15px;
}
